{% extends 'PixellaryInhouseBundle::layout.html.twig' %}

{% block container %}

    <!-- Example row of columns -->
    <div class="row">

        <div class="span12">
            <h2>ABOUT PAGE</h2>
        	<p>Aenean nec velit nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut aliquet elit cursus condimentum cursus. Praesent sed elementum risus, vel fermentum dolor. Proin hendrerit vehicula orci, adipiscing elementum ligula varius id. Nam ante ipsum, laoreet a condimentum sed, ultrices ac augue. Ut purus sem, tempor id aliquet non, mollis nec libero. Cras vestibulum dolor vel justo vehicula sollicitudin. Morbi cursus congue erat nec aliquam. Fusce ac vestibulum metus.</p>
        	
        	<h3>More text</h3>
        	<p>Aenean nec velit nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut aliquet elit cursus condimentum cursus. Praesent sed elementum risus, vel fermentum dolor. Proin hendrerit vehicula orci, adipiscing elementum ligula varius id. Nam ante ipsum, laoreet a condimentum sed, ultrices ac augue. Ut purus sem, tempor id aliquet non, mollis nec libero. Cras vestibulum dolor vel justo vehicula sollicitudin. Morbi cursus congue erat nec aliquam. Fusce ac vestibulum metus.</p>
        </div>
		
		<div class="span12">
        	<h3>Columns of text</h3>
       	</div>

       	<div class="span6">
	       	<p>Aenean nec velit nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut aliquet elit cursus condimentum cursus. Praesent sed elementum risus, vel fermentum dolor. Proin hendrerit vehicula orci, adipiscing elementum ligula varius id. Nam ante ipsum, laoreet a condimentum sed, ultrices ac augue. Ut purus sem, tempor id aliquet non, mollis nec libero. Cras vestibulum dolor vel justo vehicula sollicitudin. Morbi cursus congue erat nec aliquam. Fusce ac vestibulum metus.</p>
       	</div>
       	<div class="span6">
       		<p>Aenean nec velit nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut aliquet elit cursus condimentum cursus. Praesent sed elementum risus, vel fermentum dolor. Proin hendrerit vehicula orci, adipiscing elementum ligula varius id. Nam ante ipsum, laoreet a condimentum sed, ultrices ac augue. Ut purus sem, tempor id aliquet non, mollis nec libero. Cras vestibulum dolor vel justo vehicula sollicitudin. Morbi cursus congue erat nec aliquam. Fusce ac vestibulum metus.</p>
       	</div>

		<div class="span12">
        	<h3>More Columns of text</h3>
       	</div>
       	<div class="span4">
	       	<p>Aenean nec velit nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut aliquet elit cursus condimentum cursus. Praesent sed elementum risus, vel fermentum dolor. Proin hendrerit vehicula orci, adipiscing elementum ligula varius id. Nam ante ipsum, laoreet a condimentum sed, ultrices ac augue. Ut purus sem, tempor id aliquet non, mollis nec libero. Cras vestibulum dolor vel justo vehicula sollicitudin. Morbi cursus congue erat nec aliquam. Fusce ac vestibulum metus.</p>
       	</div>
       	<div class="span4">
       		<p>Aenean nec velit nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut aliquet elit cursus condimentum cursus. Praesent sed elementum risus, vel fermentum dolor. Proin hendrerit vehicula orci, adipiscing elementum ligula varius id. Nam ante ipsum, laoreet a condimentum sed, ultrices ac augue. Ut purus sem, tempor id aliquet non, mollis nec libero. Cras vestibulum dolor vel justo vehicula sollicitudin. Morbi cursus congue erat nec aliquam. Fusce ac vestibulum metus.</p>
       	</div>
       	<div class="span4">
       		<p>Aenean nec velit nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut aliquet elit cursus condimentum cursus. Praesent sed elementum risus, vel fermentum dolor. Proin hendrerit vehicula orci, adipiscing elementum ligula varius id. Nam ante ipsum, laoreet a condimentum sed, ultrices ac augue. Ut purus sem, tempor id aliquet non, mollis nec libero. Cras vestibulum dolor vel justo vehicula sollicitudin. Morbi cursus congue erat nec aliquam. Fusce ac vestibulum metus.</p>
       	</div>

    </div>
  
{% endblock %}