{% extends 'PixellaryInhouseBundle::layout.html.twig' %}

{% block container %}

    <!-- Example row of columns -->
    <div class="row">

        <div class="span12">
            <h2>BOARD PAGE</h2>
        
        </div>

    </div>
  
{% endblock %}
