{% extends 'PixellaryInhouseBundle::layout.html.twig' %}

{% block container %}


    <div class="row">

        <div class="span12">
            <h2>Client List</h2>
        
        </div>
        <div class="span12">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Client</th>
                    <th>Country</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody>

                {% for client in clients %}
                <tr>
                    <td>{{ client.title }}</td>
                    <td>{{ client.country }}</td>
                    <td>{{ client.notes }}</td>
                </tr>
                {% endfor %}


                </tbody>
            </table>

            <p>TODO:</p>
            <div class="pagination pagination-centered">
                <ul>
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>

        </div>


    </div>

{% endblock %}
