{% extends 'PixellaryInhouseBundle::layout.html.twig' %}

{% block container %}

    <!-- Example row of columns -->
    <div class="row">
        <div class="span12">
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Warning!</h4>
                Best check yo self, you're not...
            </div>
        </div>
        <div class="span12">
            <h2>Inhouse</h2>
            <ul>
            	<li>Added tasks to top menu</li>
            	<li>Added 'choices' to form fields</li>
            	<li>Added Listing for Tasks</li>
            	<li>Added form for Tasks</li>
            </ul>
        </div>

        <div class="span12">
            <h3>Testing buttons</h3>
        	<a href="#" class="btn"><i class="icon-pencil"></i> <strong>Write</strong></a>
			<a href="#" class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a>
			<a href="#" class="btn"><i class="icon-trash"></i> <strong>Delete</strong></a>
			<a href="#" class="btn"><i class="icon-align-justify"></i> <strong>List</strong></a>
		</div>
		<br>
		<div class="span12">

			    <a href="#" class="btn btn-primary">
			        <i class="icon-pencil icon-white"></i>
			        <span><strong>Write</strong></span>            
			    </a>
				<a href="#" class="btn btn-primary">
			        <i class="icon-eye-open icon-white"></i>
			        <span><strong>View</strong></span>        	
			    </a>
			    <a href="#" class="btn btn-primary">
			        <i class="icon-edit icon-white"></i>
			        <span><strong>Edit</strong></span>       
			    </a> 	
			    <a href="#" class="btn btn-primary">
			    	<i class="icon-trash icon-white"></i>
				    <span><strong>Delete</strong></span>        	
			    </a>
			

        </div>

    </div>

{% endblock %}