{% extends 'PixellaryInhouseBundle::base.html.twig' %}

{% block body %}

   <div class="container">

		{% if error %}
		    <div>{{ error.message }}</div>
		{% endif %}
	
		<form class="form-horizontal" action='{{ path('login_check') }}' method="POST">
		  <fieldset>
		    <div id="legend">
		      <legend class="">Inhouse Login</legend>
		    </div>
		    <div class="control-group">
		      <!-- Username -->
		      <label class="control-label"  for="username">Username</label>
		      <div class="controls">
		        <input type="text" id="username" name="_username" class="input-xlarge">
		      </div>
		    </div>
		 
		    <div class="control-group">
		      <!-- Password-->
		      <label class="control-label" for="password">Password</label>
		      <div class="controls">
		        <input type="password" id="password" name="_password" class="input-xlarge">
		      </div>
		    </div>
		 
		 
		    <div class="control-group">
		      <!-- Button -->
		      <div class="controls">
		        <button type="submit" class="btn btn-success">Login</button>
		      </div>
		    </div>
		  </fieldset>
		</form>

    </div> <!-- /container -->


{% endblock %}