{% extends 'PixellaryInhouseBundle::layout.html.twig' %}

{% block container %}

	<!-- Example row of columns -->
		<div class="row">

			<div class="span12">
				<h2>Reporting</h2>
				<p>Some cool graphs comes here</p>
			</div>

		</div>

{% endblock %}